.header-container {
  background: #fff;
  background: linear-gradient(
    -3deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(251, 208, 98, 1) 1%,
    rgba(251, 208, 98, 1) 100%
  );
  background: -webkit-linear-gradient(
    95deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(251, 208, 98, 1) 1%,
    rgba(251, 208, 98, 1) 100%
  );
  background: -webkit-gradient(
    top left,
    right bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(251, 208, 98, 1) 1%,
    rgba(251, 208, 98, 1) 100%
  );
}
